###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
person1 = {
    "Name": "John",
    "Gender": "Male",
    "Occupation": "Data Scientist",
    "Location": "Nizampet, Hyderabad"
}

In [2]:
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

> print keys in person1 as a list

In [3]:
person1 = {
    "Name": "John",
    "Gender": "Male",
    "Occupation": "Data Scientist",
    "Location": "Nizampet, Hyderabad"
}

keys_list = list(person1.keys())

print(keys_list)

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [4]:
person1 = {
    "Name": "John",
    "Gender": "Male",
    "Occupation": "Data Scientist",
    "Location": "Nizampet, Hyderabad"
}

del person1["Location"]

print(person1)

{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [5]:
person2= {"Name":"Raghu Ram",
          "Gender":"Male",
         "Age":"25",
           "Occupation":"Data Scienctist"}

In [6]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': '25',
 'Occupation': 'Data Scienctist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [7]:
person1 = {
    "Name": "John",
    "Gender": "Male",
    "Occupation": "Data Scientist",
    "Location": "Nizampet, Hyderabad"
}

person2 = {
    "Name": "Raghu Ram",
    "Age": 25,
    "Gender": "Male",
    "Occupation": "Data Scientist"
}

print("==================== person1 ====================")
print(f"{person1}\n")
print("==================== person2 ====================")
print(f"{person2}\n")

==================== person1 ====================
{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Location': 'Nizampet, Hyderabad'}

==================== person2 ====================
{'Name': 'Raghu Ram', 'Age': 25, 'Gender': 'Male', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [8]:
my_dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
del my_dict[3]

print(my_dict)

{1: 1, 2: 4, 4: 16, 5: 25, 6: 36, 7: 49}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [9]:
my_dict = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [10]:
sorted_values = sorted(my_dict.values(), reverse=True)
for value in sorted_values:
    print(value)

81
49
25
9
1
0

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [11]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000}, 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [12]:
print(sampleDict['class']['student']['marks']['history'])

NameError: name 'sampleDict' is not defined

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [13]:
person1 = {'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
person1['Area'] = person1.pop('Location')
print(person1)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)