###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [2]:
nums = [1,2,3,4]

In [3]:
list = list(nums)

In [4]:
list

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [5]:
list

[1, 2, 3, 4]

In [6]:
list.remove(3)
list

[1, 2, 4]

In [14]:
# Method 2

[1, 2, 4]

In [7]:
new_list = [x for x in list if x != 3]
print(new_list)

[1, 2, 4]

In [16]:
# Method 3

[1, 2, 4]

In [8]:
list

[1, 2, 4]

In [9]:

del list[1]
print(list)

[1, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [16]:
lst = [2,3,4]

In [17]:
lst.insert(0, 1)
print(lst)

[1, 2, 3, 4]

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [19]:
lst.insert(2, "two-and-half")

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [20]:
phrase = "Don't panic!"

In [22]:
list_phrase = phrase.split()
print(list_phrase)

["Don't", 'panic!']

*convert into list*

In [24]:
new_list=[char for char in list]
print(new_list)

[1, 4]

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [33]:
new1=['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [34]:
new1.remove("'")
new1.remove("!")

new1

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [35]:
new1

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [36]:
to_remove = ['p', 'a', 'n', 'D']
new1 = [char for char in new1 if char not in to_remove] + to_remove
print(new1)

['o', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [37]:
 list = ['p', 'a', 'n', 'D', 'a']

In [39]:
''.join(list)

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [43]:
num = (31,24,35,85)
print(type(num))
num

<class 'tuple'>

(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [56]:
my_tuple = (31, 24, 35, 85)
new_tuple = tuple(element for element in my_tuple if element != 35)
print(new_tuple)

(31, 24, 85)

TypeError: 'list' object is not callable

(31, 24, 85)

**Extent** tuple (85,19)

In [57]:
my_tuple = (31, 24, 85)
new_tuple = my_tuple + (85, 19)
print(new_tuple)

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [64]:
tpl = ('i','n''n','0')

In [65]:
if 'i' in tpl:
    print("True")
else:
    print("false")

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [67]:
list = ['Hello',100,[],'innomatics']

In [68]:
list[2] = [200]
list

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [69]:
# CODE HERE
tpl = ("Innomatics")

In [72]:
tpl = ("Innomatics")

In [77]:
tpl = ("Innomatics")
rev_tpl = tpl[::-1]
print(rev_tpl)

scitamonnI

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [78]:

tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [81]:
new_tpl = []
for tup in tpl:
    new_tup = tup + (100,)
    new_tpl.append(new_tup)

print(new_tpl)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [82]:

tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [83]:
new_tpl = []
for tup in tpl:
    new_tup = tup[:-1] + (100,)
    new_tpl.append(new_tup)

In [84]:
print(new_tpl)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [86]:
s = '5 2 3 6 6 5'

In [87]:
lst = [int(x) for x in s.split()]

sorted_list = sorted(lst, reverse=True)
second_highest = sorted_list[1]

print("The second highest value is:", second_highest)

The second highest value is: 6

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [88]:
lst = [12, 24, 35, 70, 88, 120, 155]
new_lst = [lst[i] for i in range(len(lst)) if i not in (0, 4, 5)]

print(new_lst)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [89]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
midpoint = len(my_tuple) // 2
first_half = my_tuple[:midpoint]
last_half = my_tuple[midpoint:]
print(*first_half)
print(*last_half)

1 2 3 4 5
6 7 8 9 10

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [90]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
even_tuple = tuple(num for num in original_tuple if num % 2 == 0)
print(even_tuple)

(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
Mutability: Lists are mutable, which means their contents can be modified, added or removed after they are created. On the other hand, tuples are immutable, which means they cannot be modified after they are created. If you need to make changes to the contents of a collection, you should use a list. If you need a fixed set of values, then use a tuple.

Syntax: Lists are enclosed in square brackets [ ], while tuples are enclosed in parentheses ( ).

Performance: Tuples are generally faster than lists because they are immutable, and their contents cannot be changed. This allows the interpreter to optimize memory usage and other operations, making them faster than lists.vv

### 2. Explain the difference between append() and extend() with examples

In [ ]:
The append() method is used to add a single element to the end of a list. The append() method is used to add a single element to the end of a list.

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
The pop() method removes and returns the last element of a list by default. However, an index can be specified as an argument to remove an element at a specific position.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)