## Basics of Python

> `Question:` Print your name

In [1]:
print("My name is Innomatics")

My name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [4]:
# assigning a value for a pariticular object

In [ ]:
a = 5

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [2]:
width = 17
height = 12.0
delimiter = '.'

print("1. Width/2 = ", width/2)
print("2. Width/2.0 = ", width/2.0)
print("3. height/3 = ", height/3)
print("4. ",1+2*5)
print("5. ",delimiter * 5 )

1. Width/2 =  8.5
2. Width/2.0 =  8.5
3. height/3 =  4.0
4.  11
5.  .....

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [ ]:
#CODE HERE

In [4]:
first_num= 100
second_num= 200
Total=first_num+secound_num
print("first number is :", first_num)
print("second number is :",second_num)
print("Addition of two numbers are :",Total)

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [9]:
# CODE HERE

In [5]:
a= "Sachin"
b= " Tendulkar"
print("My first name is:",a)
print("My second name is:",b)
print("My full name is:",a+b)

My first name is: Sachin
My second name is:  Tendulkar
My full name is: Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [12]:
# CODE HERE

In [8]:
print("10 - ",type(10))
print("'10' - ",type('10'))
print("True - ",type(True))

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [14]:
# CODE HERE

In [9]:
num_int = 123
num_str = "456"
print("Addition of 123 and 456 is :", num_int+int(num_str))

Addition of 123 and 456 is : 579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [10]:
print((4/3)*(22/7)*5**3)

523.8095238095237

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [14]:
bookPrice = 24.95
discount = .60
shippingPriceFirst = 3.00
shippingPriceRest = .75
totalUnits = 60

In [15]:
bookDiscountAmount = bookPrice * discount * totalUnits
shipping = shippingPriceRest * 59 + shippingPriceFirst

result =(bookDiscountAmount + shipping)
print ('The Total price is: ', round(result))

The Total price is:  945

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)