In [1]:
import pandas as pd

In [3]:
pd.date_range("10/06/2001",periods=5)

DatetimeIndex(['2001-10-06', '2001-10-07', '2001-10-08', '2001-10-09',
               '2001-10-10'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.date_range("11-2-2000",periods=10)

DatetimeIndex(['2000-11-02', '2000-11-03', '2000-11-04', '2000-11-05',
               '2000-11-06', '2000-11-07', '2000-11-08', '2000-11-09',
               '2000-11-10', '2000-11-11'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range("10-5-2001",periods=5,freq="M")

DatetimeIndex(['2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31',
               '2002-02-28'],
              dtype='datetime64[ns]', freq='M')

In [8]:
pd.date_range("10-5-2001",periods=5,freq="D")

DatetimeIndex(['2001-10-05', '2001-10-06', '2001-10-07', '2001-10-08',
               '2001-10-09'],
              dtype='datetime64[ns]', freq='D')

In [9]:
pd.date_range("10-5-2001",periods=5,freq="Y")

DatetimeIndex(['2001-12-31', '2002-12-31', '2003-12-31', '2004-12-31',
               '2005-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [10]:
pd.date_range("10-5-2001",periods=5,freq="m")

DatetimeIndex(['2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31',
               '2002-02-28'],
              dtype='datetime64[ns]', freq='M')

In [11]:
pd.date_range("10-5-2001",periods=5,freq="h")

DatetimeIndex(['2001-10-05 00:00:00', '2001-10-05 01:00:00',
               '2001-10-05 02:00:00', '2001-10-05 03:00:00',
               '2001-10-05 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [13]:
pd.date_range("10-5-2001",periods=5,freq="2H")

DatetimeIndex(['2001-10-05 00:00:00', '2001-10-05 02:00:00',
               '2001-10-05 04:00:00', '2001-10-05 06:00:00',
               '2001-10-05 08:00:00'],
              dtype='datetime64[ns]', freq='2H')

In [15]:
pd.date_range("10-5-2001",periods=5,freq="15Min")

DatetimeIndex(['2001-10-05 00:00:00', '2001-10-05 00:15:00',
               '2001-10-05 00:30:00', '2001-10-05 00:45:00',
               '2001-10-05 01:00:00'],
              dtype='datetime64[ns]', freq='15T')

In [33]:
df = pd.DataFrame({"Name":["Sreehari","Kishore","Anwesha","Dilip"],
             "DoB":["23-4-1997","24-7-1996","5-10-1996","12-12-1998"],
                   "Year":["1997","1996","1996","1998"],
                   "Month":["4","7","10","12"],
                   "Day":["25","24","5","12"]
             })

In [34]:
df

       Name         DoB  Year Month Day
0  Sreehari   23-4-1997  1997     4  25
1   Kishore   24-7-1996  1996     7  24
2   Anwesha   5-10-1996  1996    10   5
3     Dilip  12-12-1998  1998    12  12

In [19]:
pd.to_datetime(df['DoB'])

0   1997-04-23
1   1996-07-24
2   1996-05-10
3   1998-12-12
Name: DoB, dtype: datetime64[ns]

In [20]:
df["DoB"].astype("datetime64[ns]")

0   1997-04-23
1   1996-07-24
2   1996-05-10
3   1998-12-12
Name: DoB, dtype: datetime64[ns]

In [21]:
df["DoB"] = df["DoB"].astype("datetime64[ns]")

In [22]:
df["DoB"]

0   1997-04-23
1   1996-07-24
2   1996-05-10
3   1998-12-12
Name: DoB, dtype: datetime64[ns]

In [26]:
pd.to_datetime("1062001",format="%d%m%Y")

Timestamp('2001-06-10 00:00:00')

In [29]:
today = pd.to_datetime("today")
today

Timestamp('2023-05-08 23:45:19.725092')

In [41]:
df["DoB"]=df["DoB"].astype("datetime64")

In [42]:
df["ear"]= df["DoB"].dt.year

## Calculate the age

In [55]:
today = pd.to_datetime("today")

In [56]:
birth = pd.to_datetime("1062001",format="%d%m%Y")

In [57]:
age1 = today - birth

In [58]:
age1

Timedelta('8003 days 00:06:48.961713')

In [60]:
born_day = pd.to_datetime("1062001",format="%d%m%Y").day_name()

In [61]:
born_day

'Sunday'